body {  
  background-color: #121212; /* Dark background */  
  color: #ffffff; /* Light text color */  
  font-family: 'Arial', sans-serif; /* Modern font */  
  margin: 0;  
  padding: 80px;  
  box-sizing: border-box;
  display: flex;  
  justify-content: center;  
  align-items: center;  
  height: fit-content;  
}  

button {
  border: 0;
  box-shadow: none;
}


.myapp {
  display: flex;
  gap: 20px;
}
  
.file-upload-container {  
  background-color: #1e1e1e; /* Darker container */  
  border-radius: 8px;  
  padding: 20px;  
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);  
  text-align: center;  
  width: 500px;  
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}  

.form-input {
  display: flex;
  margin-bottom: 28px;
}
  
.title {  
  margin-bottom: 20px;  
  font-size: 24px;  
}  
  
.file-input {  
  display: block;  
  margin: auto;  
  padding: 10px;  
  border: 1px solid #444;  
  border-radius: 4px;  
  background-color: #2a2a2a;  
  color: #ffffff;  
  width: 60%;  
  transition: border-color 0.3s;  
}  
  
.file-input:hover {  
  border-color: #ffffff; /* Change border color on hover */  
}  
  
.upload-button {  
  background-color: #6200ea; /* Primary button color */  
  color: #ffffff;  
  border: none;  
  border-radius: 4px;  
  padding: 10px 20px;  
  cursor: pointer;  
  transition: background-color 0.3s;  
}  
  
.upload-button:hover {  
  background-color: #3700b3; /* Darker shade on hover */  
}  
  
canvas {
  justify-self: center;
  width: 800px !important;
  height: 600px !important;
  border: 1px rgb(71, 71, 71) dashed;
  /* background-color: gray !important; */
}

.threed-preview {
 width: 900px;
 height: auto;
 aspect-ratio: 4/3;
 background-color: #141414;
 display: grid;
 place-items: center;
}

.preview-link-container, .embed-code-container, .qr-code-container {  
  margin-top: 20px; /* Space above the link */  
  position: relative;
  background-color: #121212;
  padding: 12px;
}  

.label-preview {
  margin-left: 4px;
  margin: 0;
  font-size: 16px;
  color: #ffffff;
  text-align: left;
}
  
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  /* padding: 1px; */
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(26, 26, 26); 
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(51, 51, 51); 
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a4a4a4; 
}


.qr-code-container {  
  margin: 12px; /* Space above the QR code section */  
  text-align: center; /* Center the QR code */  
}  
  
.label-preview {  
  font-weight: bold; /* Make the label bold */  
  margin-bottom: 5px; /* Space below the label */  
}  

.preview-link, .embed-code {  
  font-size: 14px;  
  color: #b0b0b0; /* Lighter text for file name */  
  word-break: break-all; /* Break long URLs */  
  text-align: left;
  margin: 4px;
  height: 40px;
  overflow: scroll;
  scrollbar-width: 0;
}  
  
.copy-button {  
  background-color: #ffffff00; /* Teal color for copy button */  
  color: #ffffff;  
  border: none;  
  border-radius: 4px;  
  /* padding: 5px 10px;   */
  cursor: pointer;  
  margin-top: 10px; /* Space above the button */  
  position: absolute;
  top: -4px;
  right: -4px;
  transition: background-color 0.3s;  
  opacity: 40%;

  & svg {
    width: 12px;
  }
}  
  
.copy-button:hover {  
  /* background-color: #018786; Darker shade on hover   */
  opacity: 100%;
}  
